*{
    margin: 6px;
    padding: 3px;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    background-color: #191919;
}

.container{
    display: flex;
    flex-direction: column;
    border-radius: 30px;
    justify-content: center;
    align-items: center;
}

.titulo-imagem{
    text-align: center;
}

h2{
    color: #BB99DD;
    font-size: 25px;
    text-shadow: 5px 5px 5px 5px white;
}

.imagem-perfil{
    padding: 0px;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 2px solid #BB99DD;
}

.menu-redes{
    list-style-type: none;
    text-align: center;
}

ul li{
    justify-content: center;
    border-radius: 10px;
}

ul li:hover{
    background-color: white;
    transition: 0.5s;
}


.menu-redes a{
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: #BB99DD;
    font-weight: bold;
}

a{
    border-radius: 10px;
}

a img:hover{
    background-color:white;
    border-radius: 10px;
}
